<a class="google-btn" href="/auth/login">Local Login</a>
<a class="google-btn" href="/auth/registration">Local Registration</a>
<a class="google-btn" href="/auth/google">Google+</a>
<a class="google-btn" href="/auth/facebook">Facebook</a>
<a class="google-btn" href="/auth/twitter">Twitter</a>
<a class="google-btn" href="/auth/github">GitHub</a>
<a class="google-btn" href="/auth/linkedIn">LinkedIn</a>