<!DOCTYPE html>
<link rel="stylesheet" href="/css/main.css">
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <header>
            <h1>Login using...</h1>
        </header>
        <main>
            <%- include ('partials/oauth.ejs') %>
        </main>
    </body>
</html>