<!DOCTYPE html>
<link rel="stylesheet" href="/css/main.css">
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <header>
            <h1>Local Login</h1>
        </header>
        <main>
            <form action="/auth/login" method="POST">
                email: <input type="text" name="email"> <br>
                password: <input type="password" name="password"> <br>
                <input type="submit">
            </form>
            <% if (message) { %>
                <p><%= message %> </p>
            <% } %>
        </main>
    </body>
</html>
